<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">
   <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
     <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
                                   
                                   
    <!-- Google Chart Drow -->                               
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   
    <!-- End Google chart draw -->
  </head>

  <body>
   {% autoescape off %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Forex patterns and signal monitor</a>
          &nbsp;
          <a href="{{ url }}">{{ url_text }}</a> &nbsp;{{user.nickname}}
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/?pv=1">Pivot Trends</a></li>
              {% if user %}
               <li><a href="/?pv_settings=1">User Pattern Pivot Settings</a></li>
              {% endif %}
              <li><a href="/about.html">About</a></li>
              <li><a href="/contact.html">Contact</a></li>
              <!--
              <li><a href="{{ url }}">{{ url_text }}</a> {{user.nickname}}</li>
              -->
              <!-- li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/?r=1">S/R Lines</a></li>
                  <li><a href="/?pv=1">Pv Trends</a></li>
                  <!-- Examples of other menu items
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                  -- >
                </ul>
              </li -->
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
       <!-- style="overflow:scroll" -->
        <!-- div class="col-md-3 col-md-offset-1" id="chart_div" ></div -->
        {% if user %}
        <div class="tabbable"> <!-- Only required for left/right tabs -->
         <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">GBPUSD</a></li>
          <li><a href="#tab2" data-toggle="tab">EURUSD</a></li>
          <li><a href="#tab3" data-toggle="tab">USDCHF</a></li>
          <li><a href="#tab4" data-toggle="tab">USDCAD</a></li>
          <li><a href="#tab5" data-toggle="tab">AUDUSD</a></li>
          <li><a href="#tab6" data-toggle="tab">EURGBP</a></li>
          <li><a href="#tab7" data-toggle="tab">GBPJPY</a></li>
          <li><a href="#tab8" data-toggle="tab">EURJPY</a></li>
          <li><a href="#tab9" data-toggle="tab">USDJPY</a></li>
         </ul>
         <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <form action='/?add=gbpusd' method="post">
              <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
            {% if GBPUSD %}
              <table>
                {% for elem in GBPUSD %}
                 <form action = '/?del=gbpusd' method="post">
                 <tr>
                  <input type= "hidden" name="pattern" value="{{e.child}}">
                  <td>{{e.child}}</td>
                  <td>{{e.child_1}}</td>
                  <td>{{e.child_2}}</td>
                  <td>
                 <input type="submit" value="Delete">
                 </td>
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab2">
            <form action='/?add=eurusd' method="post">
               <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
           {% if EURUSD %}
              <table>
                {% for elem in EURUSD %}
                <form action = '/?del=eurusd' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab3">
           <form action='/?add=usdchf' method="post">
               <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
           {% if USDCHF %}
              <table>
                {% for elem in USDCHF %}
                <form action = '/?del=usdchf' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab4">
           <form action='/?add=usdcad' method="post">
               <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
              {% if USDCAD %}
              <table>
                {% for elem in USDCAD %}
                 <form action = '/?del=usdcad' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab5">
           <form action='/?add=audusd' method="post">
               <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
             {% if AUDUSD %}
              <table>
                {% for elem in AUDUSD %}
                 <form action = '/?del=audusd' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab6">
             <form action='/?add=eurgbp' method="post">
               <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
            {% if EURGBP %}
              <table>
                {% for elem in EURGBP %}
                <form action = '/?del=eurgbp' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab7">
           <form action='/?add=gbpjpy' method="post">
              <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
             {% if GBPJPY %}
              <table>
                {% for elem in GBPJPY %}
                <form action = '/?del=gbpjpy' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab8">
           <form action='/?add=eurjpy' method="post">
              <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
            {% if EURJPY %}
              <table>
                {% for elem in EURJPY %}
                 <form action = '/?del=eurjpy' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
          <div class="tab-pane" id="tab9">
           <form action='/?add=usdjpy' method="post">
             <table>
                <tr><td>Pattern</td>
                 <td>
                  <select name="d1">
                    <option value="SR">Pivot Sell Range</option>
                    <option value="BR">Pivot Buy Range</option>
                    <option value="ST">Pivot Sell Trend</option>
                    <option value="BT">Pivot Buy Trend</option>
                  </select>
                 </td>
               </tr>
                <tr>
                  <td>Second Day Pattern</td>
                  <td>
                    <select name="d2">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                </tr>
                <tr> 
                 <td>Third Day Pattern</td>
                  <td>
                     <select name="d3">
                      <option value="none">---------------</option>
                      <option value="SR">Pivot Sell Range</option>
                      <option value="BR">Pivot Buy Range</option>
                      <option value="ST">Pivot Sell Trend</option>
                      <option value="BT">Pivot Buy Trend</option>
                    </select>
                  </td>
                 </tr>
                 <tr>
                  <td></td>
                  <td>
                    <input type="submit" value="Submit">
                  </td>
                 </tr>
              </table>
              </form>
            {% if USDJPY %}
              <table>
                {% for elem in USDJPY %}
                 <form action = '/?del=usdjpy' method="post">
                 <tr>
                   {% for e in elem %}
                    {% if forloop.first %}
                     <input type= "hidden" name="pattern" value="{{e}}">
                    {% endif %}
                    <td>{{e}}</td>
                   {% endfor %}
                 </tr>
                 <input type="submit" value="Delete">
                 </form>
                {% endfor %}
              </table>
            {% endif %}
          </div>
         </div>
        </div>
        {% endif %}
        <div class="col-md-3 col-md-offset-1" id="chart_div">  
         
       </div>
       
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->
     {% endautoescape %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
