<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.png">
   <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
     <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png">
                                   
                                   
    <!-- Google Chart Drow -->                               
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {'packages':['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        {% if chart  %}
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Price');
        data.addColumn('number', 'Distribution');
        
        {% for price_data in chart %}
         //var txt = document.getElementById('print').innerHTML;
         //document.getElementById('print').innerHTML = txt + '<br /> ***** ' + price_data;
         data.addRow({{price_data}});
        {% endfor %}
        var options = {
          title: 'Price / Time Distribution for {{ pair }}',
          hAxis: {title: 'Price', titleTextStyle: {color: 'red'}},
          width: 600, 
          height:300
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        {% endif %}
      }
    </script>
    <!-- End Google chart draw -->
  </head>

  <body>
   {% autoescape off %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Forex patterns and signal monitor</a>
          &nbsp;
          <a href="{{ url }}">{{ url_text }}</a> &nbsp;{{user.nickname}}
          
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/?pv=1">Pivot Trends</a></li>
              <li><a href="/about.html">About</a></li>
              <li><a href="/contact.html">Contact</a></li>
              <!--
              <li><a href="{{ url }}">{{ url_text }}</a> {{user.nickname}}</li>
              -->
              <!-- li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/?r=1">S/R Lines</a></li>
                  <li><a href="/?pv=1">Pv Trends</a></li>
                  <!-- Examples of other menu items
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                  -- >
                </ul>
              </li -->
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
       <!-- style="overflow:scroll" -->
        <!-- div class="col-md-3 col-md-offset-1" id="chart_div" ></div -->
        {% if user %}
        <div class="tabbable"> <!-- Only required for left/right tabs -->
         <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">GBPUSD</a></li>
          <li><a href="#tab2" data-toggle="tab">EURUSD</a></li>
          <li><a href="#tab3" data-toggle="tab">USDCHF</a></li>
          <li><a href="#tab4" data-toggle="tab">USDCAD</a></li>
          <li><a href="#tab5" data-toggle="tab">AUDUSD</a></li>
          <li><a href="#tab6" data-toggle="tab">EURGBP</a></li>
          <li><a href="#tab7" data-toggle="tab">GBPJPY</a></li>
          <li><a href="#tab8" data-toggle="tab">EURJPY</a></li>
          <li><a href="#tab9" data-toggle="tab">USDJPY</a></li>
         </ul>
         <div class="tab-content">
          <div class="tab-pane active" id="tab1">
           <form  action = '/?p=gbpusd'method="post">
            <table>
              <tr>
                <td>
                 
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                
                  
                </td>
                 
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab2">
          <form  action = '/?p=eurusd'method="post">
           <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                 </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab3">
          <form  action = '/?p=usdchf'method="post">
            <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                  </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab4">
          <form  action = '/?p=usdcad'method="post">
            <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                 </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab5">
          <form  action = '/?p=audusd'method="post">
           <table>
              <tr>
                <td>
                 <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                 </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab6">
          <form  action = '/?p=eurgbp'method="post">
            <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                 </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab7">
          <form  action = '/?p=gbpjpy'method="post">
            <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab8">
          <form  action = '/?p=eurjpy'method="post">
            <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
          <div class="tab-pane" id="tab9">
          <form  action = '/?p=usdjpy'method="post">
           <table>
              <tr>
                <td>
                <input type="checkbox" name="Strong_Pearcing" value="GBPUSD" {% if GBPUSD.Strong_Pearcing %} checked {% endif %}>(Very Strong) Pearcing<br>
                <input type="hidden" name="hStrong_Pearcing" value="{% if GBPUSD.Strong_Pearcing %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Strong_Dark_cloud" value="GBPUSD" {% if GBPUSD.Strong_Dark_cloud %} checked {% endif %}>(Very Strong) Dark cloud<br>
                <input type="hidden" name="hStrong_Dark_cloud" value="{% if GBPUSD.Strong_Dark_cloud %} GBPUSD {% endif %}" >
            
                <input type="checkbox" name="Pearcing" value="GBPUSD" {% if GBPUSD.Pearcing %} checked {% endif %}>Pearcing<br>
                <input type= "hidden" name="hPearcing" value="{% if GBPUSD.Pearcing %} GBPUSD {% endif %}">
              
                <input type="checkbox" name="Dark_cloud" value="GBPUSD" {% if GBPUSD.Dark_cloud %} checked {% endif %}>Dark cloud<br>
                <input type= "hidden" name="hDark_cloud" value="{% if GBPUSD.Dark_cloud %} GBPUSD {% endif %}">
                </td>
                <td></td>
                <td>
                <input type="checkbox" name="Bulish_Endulfing" value="GBPUSD" {% if GBPUSD.Bulish_Endulfing %} checked {% endif %}>Bulish Endulfing<br>
                <input type="hidden" name="hBulish_Endulfing" value="{% if GBPUSD.Bulish_Endulfing %} GBPUSD {% endif %}">
                <input type="checkbox" name="Berish_Endulfing" value="GBPUSD" {% if GBPUSD.Berish_Endulfing %} checked {% endif %}>Berish Endulfing<br>
                <input type="hidden" name="hBerish_Endulfing" value="{% if GBPUSD.Berish_Endulfing %} GBPUSD {% endif %}" >
                
                <input type="checkbox" name="Bulish_Harami" value="GBPUSD" {% if GBPUSD.Bulish_Harami %} checked {% endif %}>Bulish Harami<br>
                <input type= "hidden" name="hBulish_Harami" value="{% if GBPUSD.Bulish_Harami %} GBPUSD {% endif %}">
                
                <input type="checkbox" name="Berish_Harami" value="GBPUSD" {% if GBPUSD.Berish_Harami %} checked {% endif %}>Berish Harami<br>
                <input type= "hidden" name="hBerish_Harami" value="{% if GBPUSD.Berish_Harami %} GBPUSD {% endif %}">
                </td>
              </tr>
              <tr>
             <td></td>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
            </form>
          </div>
         </div>
        </div>
        {% endif %}
        <div class="col-md-3 col-md-offset-1" id="chart_div">  
          <!--
          {% if user %}
          <form  method="post">
            <table>
             <tr>
             <td>
            <input type="checkbox" name="GBPUSD" value="GBPUSD" {% if GBPUSD %} checked {% endif %}>GBPUSD<br>
            <input type="hidden" name="hGBPUSD" value="{% if GBPUSD %} checked {% endif %}">
            <input type="checkbox" name="EURUSD" value="EURUSD" {% if EURUSD %} checked {% endif %}>EURUSD<br>
            <input type="hidden" name="hEURUSD" value="{% if EURUSD %} checked {% endif %}" >
            <input type="checkbox" name="USDCHF" value="USDCHF" {% if USDCHF %} checked {% endif %}>USDCHF<br>
            <input type= "hidden" name="hUSDCHF" value="{% if USDCHF %} checked {% endif %}">
            </td>
             <td>
            <input type="checkbox" name="USDCAD" value="USDCAD" {% if USDCAD %} checked {% endif %}>USDCAD<br>
            <input type="hidden" name="hUSDCAD" value="{% if USDCAD %} checked {% endif %}" >
            <input type="checkbox" name="AUDUSD" value="AUDUSD" {% if AUDUSD %} checked {% endif %}>AUDUSD<br>
            <input type="hidden" name="hAUDUSD" value="{% if AUDUSD %} checked {% endif %}" >
            <input type="checkbox" name="EURGBP" value="EURGBP" {% if EURGBP %} checked {% endif %}>EURGBP<br>
            <input type="hidden" name="hEURGBP" value="{% if EURGBP %} checked {% endif %}" >
            </td>
            <td>
            <input type="checkbox" name="GBPJPY" value="GBPJPY" {% if GBPJPY %} checked {% endif %}>GBPJPY<br>
             <input type="hidden" name="hGBPJPY" value="{% if GBPJPY %} checked {% endif %}" >
            <input type="checkbox" name="EURJPY" value="EURJPY" {% if EURJPY %} checked {% endif %}>EURJPY<br>
            <input type="hidden" name="hEURJPY" value="{% if EURJPY %} checked {% endif %}" >
            <input type="checkbox" name="USDJPY" value="USDJPY" {% if USDJPY %} checked {% endif %}>USDJPY<br>
            <input type="hidden" name="hUSDJPY" value="{% if USDJPY %} checked {% endif %}" >
            </td>
            </tr>
            <tr>
             <td></td>
             <td></td>
             <td>
               <input type="submit" value="Submit">
             </td>
             </tr>
            </table>
          </form>
          {% endif %}
          -->
          {% if pair_html %}
            {{pair_html}}
          {% endif %}
          {% if table %}
           {{ table }}
          {% endif %}
          {% if html_table %}
          <table border=1  >
            {% for elem in html_table %}
              <tr>
              {% for e in elem %}
                <td >
                 
                {{ e }}
                 
                </td>
              {% endfor %}  
            </tr>
            {% endfor %}  
          </table>
          {% endif %}
       </div>
       
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->
     {% endautoescape %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
